*{
    box-sizing: border-box;
    margin: auto;
}
body{
    background-color: #7F7F7F;
}

.box6{
    display: flex;
    margin-top: 2em;
}

.box7{
    display: flex;
    margin-top: 2em;
}

.box8{
    display: flex;
    margin-left: 15em;
    margin-top: 10em;
    border: 1px solid black;
    background-color: #D9D9D9;
    width: 25em;
    height: 30em;
}

.box8 p{
    font-size: 29px;
    padding: 1em;
}


.box9{
    display: flex;
    margin-top: 10em;
    margin-left: 50em;
    border: 1px solid black;
    background-color: #D9D9D9;
    width: 45em;
    height: 30em;
}

.box9 p{
    font-size: 29px;
    padding: 1em;
}

.box10{
    display: flex;
    margin-top: 4em;
}



.box11{
    display: flex;
    margin-top: 10em;
    border: 1px solid black;
    background-color: #D9D9D9;
    width: 50em;
    height: 60em;   
}

.box11 h3{
    margin: 0%;
    font-size: 3em;
}

.box11 li {
    margin-top: 2;
    font-size: 2em;
    
}

.box12{
    display: flex;
    border: 1px solid black;
    background-color: #D9D9D9;
    width: 1px;

}

.box13{
    display: flex;
    border: 1px solid black;
    background-color: #D9D9D9;

}

.box14{
    display: flex;
    border: 1px solid black;
    background-color: #D9D9D9;

}

