*{
    box-sizing: border-box;
    margin: auto;
}

body{
    background-color: #7F7F7F;
}

.container1{
    display: flex;
    margin-top: 70px;
    align-items: center;
}

.box1{
    background-color: #D3D3D3;
    border: 1px solid black;
    width: 100em;
    height: 409px;

}

.container2{
    display: flex;
    position: relative;
    text-align: center;
    color: white;
}

.box2{
    margin-top: 5em;
    margin-left: 30em;
}

.text6{
    position: absolute;
    bottom: 89px;
    left: 460px;
    color: white;
}

/*.box2[alt~=mountain]{
    background-image: none;
    
}*/

.box3{
    margin-top: 1em;
    margin-left: 75em;
    margin-bottom: 6em;
    border: 1px solid black;
    background-color: #D3D3D3;
    width: 18.3em;
    height: 15em;
}

.box3 p{
    font-size: 2em;
}

.box4{
    display: flex;
    margin-top: 20em;
    border: 1px solid black;
    width: 25em;
    height: 1em;
    background-color:#D3D3D3;
}

.box5{
    display: flex;
    margin-top: 20em;
    border: 1px solid black;
    background-color: #D3D3D3;
    width: 25em;
    height: 15em;
}

.box7{
    display: flex;
    margin-left: 15em;
    margin-top: 10em;
    border: 1px solid black;
    width: 25em;
    height: 30em;
}

.box7 p{
    font-size: 29px;
    padding: 1em;
}

/*.ptext{
    font-size: 20px;
}*/

/*.foot1{
    
}*/
