*{
    box-sizing: border-box;
    margin: auto;
}

header{
    display: flex;
    width: 140em;
    height:105px ;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.img{
    display: flex;
    border-radius: 0%;
    height: 20px;
    width: 0px;
    margin-right:0px;
}

.container{
    display: flex;
    margin-left: 20px;
    border: 1px solid black;
    margin-bottom: 40px;
    text-decoration: none;
    
}

.text,
.text1,
.text2,
.text3,
.text4{
    font-size: 30px;
    width:200px;
}

.text{
    display: flex;
    

}

.box{
    background-color: #7F7F7F;
    
}

footer{
    margin-top: 20em;
    background-color: #d3d3d3;
}